<div class="jumbotron">
<%= render 'form', event: @event %>
  <%= stylesheet_link_tag "events" %>
<%= link_to '<button type="button">Show</button>'.html_safe, @event %> |
<%= link_to '<button type="button">Back</button>'.html_safe, events_path %>
</div>
