// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div {

  padding-left: 25px;
  padding-right: 25px;

}

h1 {
  padding-top: 25px;
  padding-left: 25px;
}

body {
  background-image: image-url('biking.jpg');
  background-size: 100%;
  color: #a0a3a7;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.7);
}

form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 5px;
}

input, textarea {
  width: 350px;
}

textarea {
  height: 100px;
}
