// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url('runners.jpg');
  background-size: 100%;
  color: #343a40;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.5);
}

div {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
}

h1 {
  padding-top: 25px;
  padding-left: 25px;
}


body  {
  margin: 25px;
}

img {
  width: 330px;
}
