// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// html{
//   background: url(../images/user_tennis_background.jpg)
// }

// body {
//   background-image: image-url('marathon.jpg');
//   background-size: 100%;
//   color: #f8f9fa;
// }


div {

}

h1 {
  padding-top: 25px;
  padding-left: 25px;
  text-align: center;
}

.actions {
  text-align: center;
}

input {
  width: 200px;
}

#left {
  text-align: right;
}

#right {
  text-align: left;
}
