// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url('hiking.jpg');
  background-size: 100%;
  color: black;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.7);
}


div {

}

h1 {
  padding-top: 25px;
  padding-left: 25px;
  text-align: center;
}

label {
  text-align: right;
}

select {
  width: 250px;
}

input {
  text-align: left;
  width: 250px;
}


form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 5px;
    width: 50%;
    margin-left: 33%;


}
