
<br>
<div class="jumbotron">
  <h1>New Activity</h1>

  <%= render 'form', activity: @activity %>
  <%= stylesheet_link_tag "activities" %>
  <%= link_to '<button type="button">Back</button>'.html_safe, activities_path %>
</div>
